services:
  whoami:
    image: jwilder/whoami
    environment:
      - VIRTUAL_HOST=whoami.colasloth.com
  proxy:
    image: jwilder/nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports: 
      - 80:80
    # platform: linux/amd64

  hello:
    image: nginx:1.19-alpine
    volumes:
      - ./hello.html:/usr/share/nginx/html/index.html:ro
    environment:
      - VIRTUAL_HOST=hello.colasloth.com
  world:
    image: nginx:1.19-alpine
    volumes:
      -  ./world.html:/usr/share/nginx/html/index.html:ro
    environment:
      - VIRTUAL_HOST=world.colasloth.com
# We will mount docker.sock of our host machine (the socket that is used to communicate with the Docker Daemon) inside of the container in :ro read-only mode
# The domain colasloth.com is configured so that all subdomains point to 127.0.0.1 (DNS trick)